.amountToPayWrapper{
   padding: 6rem 0;

   &__h1{
      @include F1R;
      font-size: 3.4rem;
      color: $blue1;
      text-align: center;

      width: fit-content;
      max-width: 90%;
      margin: auto;
      margin-bottom: 3rem;
   }

   &__p{
      @include P2;
      font-size: 1.8rem;
      text-align: center;

      width: fit-content;
      max-width: 90%;
      margin: auto;
      margin-bottom: 6rem;
   }

   .amountToPayInnerWrap{
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 2rem;
      grid-template-rows: 1fr;
      align-items: stretch;
   }

   .amountToPay{
      padding: 2rem;
      padding-bottom: 5rem;
      border-radius: 4px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr max-content;

      position: relative;

      &__info{
         grid-column: 1 / span 1;
         grid-row: 1 / span 1;
         

         h3{
            @include H3;
            color: $white;
            text-align: center;
            width: fit-content;
            margin: 5rem auto 5rem;
         }

         p{
            @include P1;
            font-size: 1.8rem;
            text-align: center;
            color: $white;
            margin-bottom: 5rem;
         }
      }

      

      &__amount{
         grid-column: 1 / span 1;
         grid-row: 2 / span 1;

         align-self: end;
         width: 100%;
         display: grid;
         grid-template-columns: max-content 1fr;
         align-items: center;
         
         p{
            @include F1R;
            color: $white;
            font-size: 2.4rem;
            padding-right: 1rem;
         }
         
      }

      &--newOrder{
         background-image:   linear-gradient(0deg, rgba(44, 59, 88, 0.9), rgba(44, 59, 88, 0.9)),
                           url('../img/newOrder.png');
      }

      &--upgrade{
         background-image:   linear-gradient(0deg, rgba(44, 59, 88, 0.9), rgba(44, 59, 88, 0.9)),
                           url('../img/upgrade.png');
      }

      &--renewal{
         background-image:   linear-gradient(0deg, rgba(44, 59, 88, 0.9), rgba(44, 59, 88, 0.9)),
                           url('../img/renewal.png');
      }

      &--postDeposit{
         background-image:   linear-gradient(0deg, rgba(44, 59, 88, 0.9), rgba(44, 59, 88, 0.9)),
                           url('../img/postDeposit.png');
      }
   }
}


.payerDetailsWrap{
   &__head{
      background-color: $blue1;
      padding: 4rem 6rem;
      margin-bottom: 2rem;
      border-radius: 4px;

      h3{
         @include F1R;
         font-size: 2.2rem;
         color: $white;
         line-height: 160%;
      }
   }

   .payerDetails{
      background-color: #E8E8E8;
      padding: 4rem 6rem;
      margin-bottom: 6rem;
      border-radius: 4px;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: max-content max-content max-content;
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;

      &__head{
         grid-column: 1 / span 4;
         grid-row: 1 / span 1;
         @include Flex1;
         justify-content: flex-start;
         align-items: flex-end;

         h3{
            @include F1R;
            font-size: 2.2rem;
            color: $blue1;
            margin-right: 4rem;
         }

         p{
            @include F1R;
            font-size: 1.6rem;
            color: $blue1;
            margin-right: 10rem;
         }
      }

      &__info{
         position: relative;
      
         img{
            width: 3rem;
            cursor: pointer;
         }

         span{
            position: absolute;
            bottom: 6rem;
            right: 1rem;
            background-color: $oran1;
            padding: 1rem;

            width: 25rem;
            border-radius: 6px;
            border-bottom-right-radius: 0;

            @include P2;
            color: $white;
            text-align: center;

            display: none;

            &::after{
               content: "";
               position: absolute;
               top: 100%;
               left: 100%;
               margin-left: -20px;
               border: 10px solid transparent;
               border-right-color: $oran1;
               border-top-color: $oran1;
            }
         }

         &:hover{
            span{
               @include slideD-5px;
               display: block;
            }
         }
      }

      &__detail{
         p{
            @include F1R;
            font-size: 1.6rem;
            color: #979797;
            margin-bottom: 1rem;
         }

         &--companyName{
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
         }

         &--Name{
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
         }

         &--Email{
            grid-column: 1 / span 2;
            grid-row: 3 / span 1;
         }

         &--InvoiceNum{
            grid-column: 3 / span 2;
            grid-row: 2 / span 1;
         }

      }
   }
}


.cardDetailsWrap{
   &__head{
      background-color: $blue1;
      padding: 4rem 6rem;
      margin-bottom: 2rem;
      border-radius: 4px;

      h3{
         @include F1R;
         font-size: 2.2rem;
         color: $white;
         line-height: 160%;
      }
   }

   .cardDetails{
      background-color: #E8E8E8;
      padding: 4rem 6rem;
      margin-bottom: 6rem;
      border-radius: 4px;

      display: grid;
      grid-template-columns: 2fr 2fr 3fr 4fr 4fr;
      grid-template-rows: max-content max-content max-content max-content max-content;
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;

      &__head{
         grid-column: 1 / span 5;
         grid-row: 1 / span 1;
         @include Flex1;
         justify-content: flex-start;
         align-items: flex-end;

         h3{
            @include F1R;
            font-size: 2.2rem;
            color: $blue1;
            margin-right: 4rem;
         }

         p{
            @include F1R;
            font-size: 1.6rem;
            color: $blue1;
            margin-right: 14rem;
         }
      }

      &__info{
         position: relative;
      
         img{
            width: 3rem;
            cursor: pointer;
         }

         span{
            position: absolute;
            bottom: 6rem;
            right: 1rem;
            background-color: $oran1;
            padding: 1rem;

            width: 25rem;
            border-radius: 6px;
            border-bottom-right-radius: 0;

            @include P2;
            color: $white;
            text-align: center;

            display: none;

            &::after{
               content: "";
               position: absolute;
               top: 100%;
               left: 100%;
               margin-left: -20px;
               border: 10px solid transparent;
               border-right-color: $oran1;
               border-top-color: $oran1;
            }
         }

         &:hover{
            span{
               @include slideD-5px;
               display: block;
            }
         }
      }

      &__detail{
         p{
            @include F1R;
            font-size: 1.6rem;
            color: #979797;
            margin-bottom: 1rem;
         }

         &--cardName{
            grid-column: 1 / span 3;
            grid-row: 2 / span 1;
         }

         &--cardNumber{
            grid-column: 1 / span 3;
            grid-row: 3 / span 1;
         }

         &--expieryMonth{
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
            position: relative;

            &::after{
               content: '/';
               font-size: 3rem;
               color: #B4B4B4;
               position: absolute;
               right: -2rem;
               top: 50%;
            }
         }

         &--expieryYear{
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
            align-self: end;
         }

         &--CVC{
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            align-self: end;
         }

         &--security{
            grid-column: 1 / span 3;
            grid-row: 5 / span 1;
         
            @include Flex1;
            align-items: flex-end;
            justify-content: flex-start;

            .cardDetailsSecurity-1{
               height: 6rem;
               margin-right: 3rem;
            }

            .cardDetailsSecurity-2{
               height: 5rem;
            }
         }

         &--TandC{
            grid-column: 4 / span 2;
            grid-row: 3 / span 1;
            align-self: end;
         }

         &--editOrder{
            grid-column: 4 / span 1;
            grid-row: 4 / span 1;
            align-self: end;

            a{
               display: block;
               width: 100%;
               @include F1R;
               font-size: 1.8rem;
               color: $white;
               text-align: center;
               text-decoration: none;
               
               background-color: #B4B4B4;
               border-radius: 4px;
               padding: 2rem;
               height: 6rem;
               margin: 0;

               cursor: pointer;
               transition: all 0.5s ease;

               &:hover{
                  background-color: $oran1;
               }
            }
         }

         &--pay{
            grid-column: 5 / span 1;
            grid-row: 4 / span 1;
            align-self: end;

            p{
               @include F1R;
               font-size: 1.8rem;
               color: $white;
               text-align: center;

               @include Flex1;
               justify-content: center;
               
               background-color: $oran1;
               border-radius: 4px;
               padding: 2rem;
               width: 100%;
               height: 6rem;
               margin: 0;

               cursor: pointer;
               transition: all 0.5s ease;

               &:hover{
                  background-color: #B4B4B4;
               }

               img{
                  display: block;
                  height: 2rem;
                  margin-right: 1rem;
               }

               span{
                  @include F1R;
                  font-size: 1.8rem;
                  color: $white;
                  
                  margin-right: 0.5rem;
                  margin-left: 0.5rem;
               }
            }
         }
      }

      .cvc{
         @include Flex1;
         &__info{
            position: relative;
      
            img{
               width: 1.6rem;
               cursor: pointer;
            }
   
            span{
               position: absolute;
               bottom: 6rem;
               right: 1rem;
               background-color: $oran1;
               padding: 1rem;
   
               width: 25rem;
               border-radius: 6px;
               border-bottom-right-radius: 0;
   
               @include P2;
               color: $white;
               text-align: center;
   
               display: none;
   
               &::after{
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 100%;
                  margin-left: -20px;
                  border: 10px solid transparent;
                  border-right-color: $oran1;
                  border-top-color: $oran1;
               }
            }
   
            &:hover{
               span{
                  @include slideD-5px;
                  display: block;
               }
            }
         }
      }
   }
}

//card details
@media screen and (max-width: 1280px){
   .cardDetailsWrap{
      &__head{
         background-color: $blue1;
         padding: 2rem 4rem;
      }
   
      .cardDetails{
         padding: 2rem 4rem;

         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
         grid-template-rows: max-content max-content max-content max-content max-content max-content max-content;
         grid-column-gap: 3rem;
         grid-row-gap: 3rem;
   
         &__head{
            grid-column: 1 / span 6;
            grid-row: 1 / span 1;
         }
   
         &__detail{
   
            &--cardName{
               grid-column: 1 / span 6;
               grid-row: 2 / span 1;
            }
   
            &--cardNumber{
               grid-column: 1 / span 6;
               grid-row: 3 / span 1;
            }
   
            &--expieryMonth{
               grid-column: 1 / span 2;
               grid-row: 4 / span 1;
            }
   
            &--expieryYear{
               grid-column: 3 / span 2;
               grid-row: 4 / span 1;
               align-self: end;
            }
   
            &--CVC{
               grid-column: 5 / span 2;
               grid-row: 4 / span 1;
               align-self: end;
            }
   
            &--security{
               grid-column: 1 / span 6;
               grid-row: 7 / span 1;
            }
   
            &--TandC{
               grid-column: 1 / span 6;
               grid-row: 5 / span 1;
               align-self: end;
            }
   
            &--editOrder{
               grid-column: 1 / span 3;
               grid-row: 6 / span 1;
               align-self: end;
            }
   
            &--pay{
               grid-column: 4 / span 3;
               grid-row: 6 / span 1;
               align-self: end;
            }
         }
      }
   }
}

//payer details
@media screen and (max-width: 1200px){
   .payerDetailsWrap{
      &__head{
         padding: 2rem 4rem;
      }
   
      .payerDetails{
         padding: 2rem 4rem;
   
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: max-content max-content max-content max-content;
         grid-column-gap: 3rem;
         grid-row-gap: 3rem;
   
         &__head{
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
         }
   
         &__detail{
   
            &--companyName{
               grid-column: 1 / span 1;
               grid-row: 2 / span 1;
            }
   
            &--Name{
               grid-column: 2 / span 1;
               grid-row: 2 / span 1;
            }
   
            &--Email{
               grid-column: 1 / span 2;
               grid-row: 3 / span 1;
            }
   
            &--InvoiceNum{
               grid-column: 1 / span 2;
               grid-row: 4 / span 1;
            }
         }
      }
   }
}

//amount to pay
@media screen and (max-width: 1169px){
   .amountToPayWrapper{
      .amountToPayInnerWrap{
         width: 100%;
         max-width: 100%;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-column-gap: 2rem;
         grid-template-rows: 1fr 1fr;
         grid-row-gap: 2rem;
      }
   }
   
}

//payer details
@media screen and (max-width: 800px){
   .payerDetailsWrap{
      &__head{
         padding: 1.5rem 2rem;
      }
   
      .payerDetails{
         padding: 1.5rem 2rem;
   
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: max-content max-content max-content max-content max-content;
         grid-column-gap: 3rem;
         grid-row-gap: 3rem;
   
         &__head{
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;

            h3{
               margin-bottom: 2rem;  
            }

            p{
               margin-bottom: 2rem;
            }
         }
   
         &__detail{
   
            &--companyName{
               grid-column: 1 / span 1;
               grid-row: 2 / span 1;
            }
   
            &--Name{
               grid-column: 1 / span 1;
               grid-row: 3 / span 1;
            }
   
            &--Email{
               grid-column: 1 / span 1;
               grid-row: 4 / span 1;
            }
   
            &--InvoiceNum{
               grid-column: 1 / span 1;
               grid-row: 5 / span 1;
            }
         }
      }
   }
}

//card details
@media screen and (max-width: 700px){
   .cardDetailsWrap{
      &__head{
         padding: 1.5rem 2rem;
      }
   
      .cardDetails{
         padding: 1.5rem 2rem;

         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
         grid-column-gap: 3rem;
         grid-row-gap: 3rem;
   
         &__head{
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
         }
   
         &__detail{
   
            &--cardName{
               grid-column: 1 / span 2;
               grid-row: 2 / span 1;
            }
   
            &--cardNumber{
               grid-column: 1 / span 2;
               grid-row: 3 / span 1;
            }
   
            &--expieryMonth{
               grid-column: 1 / span 1;
               grid-row: 4 / span 1;
            }
   
            &--expieryYear{
               grid-column: 2 / span 1;
               grid-row: 4 / span 1;
               align-self: end;
            }
   
            &--CVC{
               grid-column: 1 / span 2;
               grid-row: 5 / span 1;
               align-self: end;
            }
   
            &--security{
               grid-column: 1 / span 2;
               grid-row: 9 / span 1;
            }
   
            &--TandC{
               grid-column: 1 / span 2;
               grid-row: 6 / span 1;
               align-self: end;
            }
   
            &--editOrder{
               grid-column: 1 / span 2;
               grid-row: 7 / span 1;
               align-self: end;
            }
   
            &--pay{
               grid-column: 1 / span 2;
               grid-row: 8 / span 1;
               align-self: end;
            }
         }
      }
   }
}

//amount to pay
@media screen and (max-width: 600px){
   .amountToPayWrapper{
      .amountToPayInnerWrap{
         width: 100%;
         max-width: 100%;
         display: grid;
         grid-template-columns: 1fr;
         grid-column-gap: 2rem;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         grid-row-gap: 2rem;
      }
   }
   
}