//_________COLOURS_______
$black:#4D4C4C;
$white:#f9f9f9;
$white2:#ffffff8a;
$grey1: #F5F5F5;
$grey2: #b1b1b1;
$grey3: #E8E8E8;
$grey5: #E5E5E5;
$grey6: #979797;
$grey7: #F2F3F5;
$oran1:#EE851F;
$oran2:rgb(252, 217, 181);
$blue1:#2c3b58;
$blue2:#ECF0F7;
$red1:#F44336;
$green1:#ECF0F7;
