.testimonialsWrapper{
    padding: 6rem 0;
    background-color: $blue2;
    &__h{
        @include H3;
        width: fit-content;
        margin: auto;
    } 
}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content 1fr 1fr 1fr max-content;

    &__quoteBubble{
        width: 80%;
        max-width: 8rem;
        grid-row: 1 / span 1;
        grid-column: 5 / span 2;
        justify-self: center;
    }

    &__trustPilot{
        grid-column: 4 / span 8;
        grid-row: 5 / span 1;
        justify-self: center;

        a{
            text-decoration: none;
            @include F1R;
            color: $black;
            font-size: 1.4rem;
        }
    }

    &__btn{
        width: 70%;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 20px 40px rgba(49, 88, 114, 0.25);


        &:hover{
            cursor: pointer;
            border-color: $oran1;
            border-width: 2px;
        }

        &--active{
            border-color: $oran1;
            border-width: 2px;
        }

        &--1{
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            justify-self: center;
            align-self: center;
            width: 90%;
            max-width: 7rem;


            animation: testimonial1 3s ease-in-out infinite;

            @keyframes testimonial1 {
                0% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translateY(0px);
                }
                50% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translateY(-20px);
                }
                100% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translateY(0px);
                }
            }
        }

        &--2{
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
            justify-self: start;
            align-self: end;
            width: 70%;
            max-width: 5rem;

            animation: testimonial2 4s ease-in-out infinite;

            @keyframes testimonial2 {
                0% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translateX(0px);
                }
                50% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translateX(-20px);
                }
                100% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translateX(0px);
                }
            }
        }

        &--3{
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            justify-self: end;
            align-self: start;
            width: 80%;
            max-width: 6rem;

            animation: testimonial3 5s ease-in-out infinite;
            animation-direction: reverse;

            @keyframes testimonial3 {
                0% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translate(0px, 0px);
                }
                50% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translate(20px, -50px);
                }
                100% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translate(0px, 0px);
                }
            }

            
        }

        &--4{
            grid-column: 13 / span 1;
            grid-row: 2 / span 1;
            justify-self: start;
            align-self: center;
            width: 90%;
            max-width: 7rem;

            animation: testimonial4 4s ease-in-out infinite;

            @keyframes testimonial4 {
                0% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translate(0px, 0px);
                }
                50% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translate(-30px, 50px);
                }
                100% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translate(0px, 0px);
                }
            }
            
        }

        &--5{
            grid-column: 12 / span 1;
            grid-row: 3 / span 1;
            justify-self: start;
            align-self: end;
            width: 70%;
            max-width: 5rem;

            animation: testimonial5 5s ease-in-out infinite;

            @keyframes testimonial5 {
                0% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translate(0px, 0px);
                }
                50% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translate(0px, 50px);
                }
                100% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translate(0px, 0px);
                }
            }

            
        }

        &--6{
            grid-column: 14 / span 1;
            grid-row: 4 / span 1;
            justify-self: end;
            align-self: start;
            width: 80%;
            max-width: 6rem;

            animation: testimonial4 3s ease-in-out infinite;

            @keyframes testimonial4 {
                0% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translate(0px, 0px);
                }
                50% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translate(-30px, 20px);
                }
                100% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translate(0px, 0px);
                }
            }
            
        }
    }

}

.testimonial{
    grid-row: 2 / span 3;
    grid-column: 4 / span 8;
    padding: 1rem 1rem 3rem;
    transition: ease 0.1s;
    display: none;

    //review
    &__quote{
        @include P2;
        font-size: 2rem;
        color: $blue1;
        text-align: center;
        padding-bottom: 3rem;
        transition: all 0.5s ease;
        
    }

    //author
    &__from{
        @include Flex2;
        padding-bottom: 1rem;
        transition: all 0.5s ease;
    }

    &__authorImg{
        margin-right: 3rem;
        width: 8rem;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 20px 40px rgba(49, 88, 114, 0.25);
    }
    
    &__author{
        @include F1B;
        font-size: 1.8rem;
        color: $oran1;


        span{
            @include F1R;
            font-size: 1.2rem;
            color: $black;
        }
    }

    &--hidden{
        display: none;
    }

    &--active{
        display: block;
        .testimonial__quote{
            @include slideL-50px;
        }
        .testimonial__from{
            @include slideR-50px;
        }
    }

}

@media screen and (max-width: 800px){
    .testimonials{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content max-content max-content max-content;
    
        &__quoteBubble{
            width: 80%;
            max-width: 8rem;
            grid-row: 1 / span 1;
            grid-column: 1 / span 3;
            justify-self: center;
        }
    
        &__trustPilot{
            grid-column: 1 / span 3;
            grid-row: 5 / span 1;
            justify-self: center;
        }
    
        &__btn{
            animation: initial;
            animation-play-state: paused;
            
            &--1{
                margin-bottom: 1.5rem;
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;
                justify-self: end;
                align-self: center;
                width: 90%;
                max-width: 6rem;
                
            }
    
            &--2{
                margin-bottom: 1.5rem;
                grid-column: 2 / span 1;
                grid-row: 3 / span 1;
                justify-self: center;
                align-self: center;
                width: 90%;
                max-width: 6rem;
            }
    
            &--3{
                margin-bottom: 1.5rem;
                grid-column: 3 / span 1;
                grid-row: 3 / span 1;
                justify-self: start;
                align-self: center;
                width: 90%;
                max-width: 6rem;
            }
    
            &--4{
                margin-bottom: 1.5rem;
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
                justify-self: end;
                align-self: center;
                width: 90%;
                max-width: 6rem;
            }
    
            &--5{
                margin-bottom: 1.5rem;
                grid-column: 2 / span 1;
                grid-row: 4 / span 1;
                justify-self: center;
                align-self: center;
                width: 90%;
                max-width: 6rem;
            }
    
            &--6{
                margin-bottom: 1.5rem;
                grid-column: 3 / span 1;
                grid-row: 4 / span 1;
                justify-self: start;
                align-self: center;
                width: 90%;
                max-width: 6rem;
            }
        }

    }
    
    .testimonial{
        grid-row: 2 / span 1;
        grid-column: 1 / span 6;
        padding: 1rem 1rem 3rem;
    
        //review
        &__quote{
            @include P2;
            font-size: 2rem;
            color: $blue1;
            text-align: center;
            padding-bottom: 3rem;
        }
    
        //author
        &__from{
            @include Flex2;
            padding-bottom: 1rem;
        }
        &__authorImg{
            margin-right: 3rem;
            width: 8rem;
            border-radius: 50%;
            border: 2px solid #FFFFFF;
            box-shadow: 0px 20px 40px rgba(49, 88, 114, 0.25);
        }
        &__author{
            @include F1B;
            font-size: 1.8rem;
            color: $oran1;
    
    
            span{
                @include F1R;
                font-size: 1.2rem;
                color: $black;
            }
        }
    
        // &--hidden{
        //     display: none;
        // }
    
        // &--active{
        //     display: block;
        // }
    }
} 